@model IEnumerable<GeekBrainsShop.Domain.Employees.Footwear>
@{
    ViewBag.Title = "GeekBrainsShop";
}
    
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "Catalog", new { id = item.FootwearId})">
                <div>
                    <div class="TradeMark">
                        <div>
                        </div>
                        <div>
                            @item.Trademark.TrademarkName
                        </div>
                        <div>
                            @if (item.IsSale)
                            {
                                <b><img src="~/Content/Images/Sale.png" alt="Sale" /></b>
                            }
                            @if (item.IsTop)
                            {
                                <b><img src="~/Content/Images/Hit.png" alt="Top" /></b>
                            }
                            @if (item.IsNew)
                            {
                                <b><img src="~/Content/Images/New.png" alt="New" /></b>
                            }
                        </div>
                    </div>
                    <div class="image">
                        <img src="@item.ImageLink" alt="">
                    </div>
                    <div>
                    @if (item.SalePrice != null)
                    {
                        @item.SalePrice.Value.ToString("# руб.")
                        <s class="SalePrice">@item.Price.ToString("# руб.")</s>
                    }
                    else
                    {
                        @item.Price.ToString("# руб.")
                    }
                </div>
            </div>
        </a>
        }