<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="header">
        <img src="~/Content/Images/top_logo.jpg" />
    </div>

    <div class="body_style">

        <div class="menu">
            <ul id="nav">
                <li><a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/Menu/big.png">Главная</a></li>
                <li>
                    <a class="sub" tabindex="1"><img src="~/Content/Images/Menu/big.png">Каталог</a><img src="~/Content/Images/Menu/up.gif">
                    <ul>
                        <li><a href="@Url.Action("Index", "Catalog")"><img src="~/Content/Images/Menu/small.png">Женские</a></li>
                        <li><a href="@Url.Action("Index", "Catalog")"><img src="~/Content/Images/Menu/small.png">Мужские</a></li>
                        <li><a href="@Url.Action("Index", "Catalog")"><img src="~/Content/Images/Menu/small.png">Детские</a></li>
                    </ul>
                </li>
                <li><a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/Menu/big.png">Контакты</a></li>
            </ul>
        </div>        
        <div class="container">
            <div class="brands">
                <img src="~/Content/Images/brands/instreet.png" alt="instreet">
                <img src="~/Content/Images/brands/zenden.png" alt="zenden">
                <img src="~/Content/Images/brands/dixer.png" alt="dixer">
                <img src="~/Content/Images/brands/rieker.png" alt="riker">
                <img src="~/Content/Images/brands/thomasmunz.png" alt="thomasmunz">
                <img src="~/Content/Images/brands/marcotozzi.png" alt="marcotozzi">
            </div>
            <div class="catalogs">
                @RenderBody()
            </div>
            </div>
    </div>

        <hr />
        <footer>
            <div id="footers">
                <p id="big">Дизайн</p>
                <p>hrenden@inputmail.ru</p>
                <p>©Все права защищены!</p>
                <p>Design by Vitali Zakharoff</p>
            </div>
            <div id="social">
                <div id="vk"></div>
                <div id="facebook"></div>
                <div id="twitter"></div>
            </div>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
