@model GeekBrainsShop.Domain.Employees.Footwear

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <H2>@Model.VendorCode</H2>
    <a href="@Model.ImageLink" target="_blank"><img src="@Model.ImageLink" alt="@Model.ImageLink" width="375" height="230" class="IMGborder" /></a>
    <H3>Описание товара</H3>
    <p class="SDescription">@Model.Subscribe</p>
    <H3>Характеристики товара</H3>
    <ul class="listDesc">
        <li><b>Сезон</b> --- <em>@Model.Season.SeasonName</em></li>
        <li><b>Материал подкладки</b> --- <em>Кожа</em></li>
        <li><b>Материал подошвы</b> --- <em>Резина</em></li>
        <li><b>Материал стельки</b> --- <em>К.кожа-кожа</em></li>
        <li><b>Для</b> --- <em>Муж.</em></li>
        <li><b>Размерный ряд</b> --- <em>@Model.MinSize - @Model.MaxSize</em></li>
        @if (Model.SalePrice != null)
        {
            <li><b>Старая цена</b> --- <em>@Model.Price</em></li>
            <li><b>Цена со скидкой</b> --- <em>@Model.SalePrice</em></li>
        }
        else
        {
            <li><b>Цена</b> --- <em>@Model.Price</em></li>
        }
    </ul>
    <H3>Подробное описание товара</H3>
    <p class="Description">@Model.Subscribe</p>
</div>
<div class="buy">
    <input type="submit" value="Заказать" />
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FootwearId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
